{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<header class="bg-image" style="background-image: url(https://media.istockphoto.com/id/947659542/fr/photo/bobines-de-film-vintage-8mm-des-films-%C3%A0-la-maison-histoire-et-souvenirs.jpg?s=612x612&w=0&k=20&c=7XXgnypG9qQnZotIOaAtCrK_sHNXjOS9aDVy_2SgtTE=)">
<h1>WILD SERIES</h1>
<h2>Votre refuge séries, où l'évasion devient réalité !</h2>
</header>
{% endblock %}
