{% extends 'base.html.twig' %}

{% block title %}Edit Episode{% endblock %}

{% block body %}
    <h1>Edit Episode</h1>

    {{ include('episode_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_episode_crud_index') }}">back to list</a>

    {{ include('episode_crud/_delete_form.html.twig') }}
{% endblock %}
