{% extends 'base.html.twig' %}

{% block title %}Acteur {{ actor.name }}{% endblock %}

{% block body %}
<div>
<h1>Acteur {{ actor.name }}</h1>
<h2>Liste des séries associées à cet acteur :</h2>
<ul>
{% for programs in actor.programs %}
<li>
<a href="{{ path("program_show", { id: programs.id }) }}">{{ programs.title }}</a>
</li>
{% else %}
<li>Aucune série référencée pour le moment. </li>
</ul>
{% endfor %}
</div>
{% endblock %}
